<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
  </head>
  
    <header>
      <div class="logo">
        <img src="../image/blocknotas3.jpg" alt="logo" />
         
      </div>
      
    
        <nav class="navbar">
            <ul>
                <li><a href="/index4.html">A PAGINA DE INICIO</a></li>
                                        
          
            </ul>
        </nav>
      
    </header>
    <!-- Agrego estilo del Flormulario-->
<style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #d91a2a;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(0, 1, 1);
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: rgb(14, 15, 14);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #137718;
}

div {
  border-radius: 5px;
  color: #e3eae3;
  background-color: #080909;
  padding: 20px;
}
.navbar li{
  background-color: rgb(7, 17, 124);
    
}
</style>
<!-- Fin de  estilo del Flormulario-->

    
    <body>
    <!-- Formulario con su estilo embuido -->
    <h3>-- Para realizar su consulta ingrese sus datos, y el motivo de la consulta.</h3>

<div>
  <form action="/consultas.php">
    
    <label for="fname">Nombre</label>
    <input type="text" id="fname" name="firstname" placeholder="Su nombre..">

    <label for="lname">Apellido</label>
    <input type="text" id="lname" name="lastname" placeholder="Su apellido.."><br><br>
    
    <label for="birthday">Fecha de nacimiento:</label>
    <input type="date" id="birthday" name="birthday"><br><br>
    

    <label for="tuemail">Su email --------------</label>
    <input type="email" id="tuemail" name="tuemail" placeholder="Su email.."><br><br>

    <label for="motivo">Selecciones un principal de la consulta</label>
    <select id="motivo" name="motivo">
      <option value="registro">Registro</option>
      <option value="categoria">Categoria</option>
      <option value="notas">Notas</option>
      <option value="backup">Backup</option>
      <option value="otros">Otros</option>
    </select>
  
    <input type="submit" value="Submit">
  </form>
</div>
<!-- Fin del Formulario con su estilo embuido -->
  </body>
  
  <footer class="footer">
   

    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <div>
          <img src="../image/blocknotas3.jpg" alt="logo" />
        </div> 
      <h3 class="main-c">Mi Block de Notas</h3>
      <p>Formulario </p>
      </div>
      
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Av. Santa Fe 5000</li>
          
          <li>Ciudad de Bs.As.</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="/index4.html">Inicio</a></li>
    <li><a href="./agenda.html">Agenda</a></li>
    <li><a href="/preguntas.html">Preguntas</a></li>
     <li><a href="/consultas.html">Consultas</a></li>
   
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
    <h5>Redes Sociales</h5>
    <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="../image/facebook.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="../image/instagram.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="../image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="../image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
    </div>
    </div>
    <div class="footer-creds">
    <div class="copy-creds">
    <p>©2023 · Todos los derechos reservados.</p>
    </div>
    <div class="legal-creds">
    <ul>
    <li><a href="/politica-privacidad">Política de Privacidad</a></li>
    <li><a href="/politica-cookies">Política de Cookies</a></li>
    <li><a href="/aviso-legal">Aviso Legal</a></li>
    </ul>
    </div>
    </div>
    
  </footer>
</html>