<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css">
    
    <title>Document</title>
    <head>
      <style>
      table, th, td {
        border: 5px solid;
        color: black;
        background-color: rgb(147, 222, 133);
          }
          table {
             width: 100%;
             align-items:left;
              }
      body{
    background-color: black;
      }
      .navbar a{
        background-color: rgb(8, 87, 87);
      }
      </style>
  </head>
  
  <body>
    <header>
      <div class="logo">
        <img src="../image/blocknotas3.jpg" alt="logo" />
         
         <input type="text" placeholder="-     Mi Block de Notas    -">
         
      </div>
      <nav class="navbar">
        <ul>
           <li><a href="/index4.html">A INICIO</a></li>
        
       </ul>
     </nav>
          
      
    </header>
    
    
   
    <h2>PREGUNTAS FRECUENTES</h2>
        
    <table>
      <tr>
        <th>Nro</th>
        <th>Pregunta</th>
        <th>Respuesta</th>
        
      </tr>
      <tr>
        <td>1</td>
        <td> ¿Qué es Block de notas?</td>
        <td>
          Block de Notas nos permite ingresar nuestras tareas pendientes. Eligiendo una categoria.
           Su funcionalidad es muy eficaz y simple.
        </td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>¿Como son las caracterizticas principales?</td>
        <td>
          Se puede ingresar una Tarea o nota, según una categoria,
           y quedara grabada con su dia y hora de emisión
        </td>
        
      </tr>
      <tr>
        <td>3</td>
        <td>¿Que necesito para poder usar Bock de Notas</td>
        <td>
          Deberá estar registrado. Para lo cual deberá ingresar
           a la Paginas de registro, completar el formulario. 
           Y despues de enviarlo recibirá un email con el nombre
            de usuario y password.
        </td>
        
      </tr>
      <tr>
        <td>4</td>
        <td>¿Como ingreso una nota?</td>
        <td>
          Muy facil, seleccione una categoria en la lista despegable, 
          y posteriormente ingrese su tarea. Y posteriormente haga
           click en aceptar. Inmediatamente vera como su nota fue creada.
        </td>
        
      </tr>
      <tr>
        <td>5</td>
        <td>¿Puedo borrar la Nota?</td>
        <td> Si por supuesto. Haciendo click en el botos que se encuentra 
          a la derecha de la Nota esta se borrará.
        </td>
        
      </tr>
      <tr>
        <td>6</td>
        <td>¿Puedo modificar o editar la Nota?</td>
        <td>
          En cada Nota ingresada figura un boton de "Editar",  haciendo click en
           el mismo podra modificar y posteriormente actualizar su nota.
        </td>
        
      </tr>
      <tr>
        <td>7</td>
        <td>¿Puedo buscar una Nota escrita hace un tiempo?</td>
        <td>
          En la parte inferior de la pantalla vera un boton verde que dice "Buscar Nota",
          Aqui tendra diferentes opciones. Buscar la notra por Categoria, por Fecha, o 
          mediante una palabra clave.
        </td>
        
      </tr>
      <tr>
        <td>8</td>
        <td>¿Puedo agregar categorias o borrar alguna de ellas?</td>
        <td>
          Mediante el Boton Verde "Editar Categoria", usted podra agregar o borrar categoria.
        </td>
        
      </tr>
      <tr>
        <td>9</td>
        <td>¿Puedo eliminar todas las Notas ingresadas?</td>
        <td>
          Mediante el Boton azul en la parte inferior de la pantalla, podra borrar la base de datos de las notas.
          Las mismas se podran recuperar segun el Boton Backup. Por lo tanto le recomendamos que 
          realize un backup de sus Notas Periodicamente.
        </td>
        
      </tr>
      <tr>
        <td>10</td>
        <td>¿Tengo dudas y no se como resolverlo?</td>
        <td>
          No se haga problemas. Envienos una consulta mediante el formulario
          que figura al pie de la pantalla y le responderemos mediante un email.
        </td>
        
      </tr>
    </table>
  
    
  </body>
  
  <footer class="footer">
    

    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <div>
          <img src="../image/blocknotas3.jpg" alt="logo" />
        </div> 
      <h3 class="main-c">MI BLOCK DE NOTAS</h3>
      <p> Toda su información necesaria </p>
      </div>
      
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Av. Santa Fe 5000</li>
          
          <li>Ciudad de Bs. As.</li>
          <li>Mvl: (+54) 11 1234 5678</li>
          <li>Tel: (+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="/index4.html">Inicio</a></li>
    <li><a href="./agenda.html">Agenda</a></li>
    <li><a href="/preguntas.html">Preguntas</a></li>
    
    <li><a href="/consultas.html">Consultas</a></li>
    
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
    <h5>Redes Sociales</h5>
    <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="../image/facebook.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="../image/instagram.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="../image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="../image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
    </div>
    </div>
    <div class="footer-creds">
    <div class="copy-creds">
    <p>©2023 · Todos los derechos reservados..</p>
    </div>
    <div class="legal-creds">
    <ul>
    <li><a href="/politica-privacidad">Política de Privacidad</a></li>
    <li><a href="/politica-cookies">Política de Cookies</a></li>
    <li><a href="/aviso-legal">Aviso Legal</a></li>
    </ul>
    </div>
    </div>
    
  </footer>
</html>
