<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="/css/style.css">
    
    <title>Document</title>
  </head>

    <body>
    <header>
      <div class="logo">
        <img src="/image/blocknotas3.jpg" class="left" alt="logo" />
        <!-- <img src="./image/logo4.jpg" alt="logo" width="20" height="60">-->
      </div>
      
      <div class="tituloLogin">
        
        <h1>MI BLOCK DE NOTAS
        
        </h1> 
    
      </div>
      <!--
        <div>
          <section class="titulo2">
          <h3>MI BLOCK DE NOTAS </h3>
          </section>
        </div>
    -->

         
    </header>
    <!----agregado   -->
  <!--
    <table>
      <tr>
        <th>
          <h4> IZQUIERDO</h4>
          
        </th>
        <th>
        <h4> MEDIO</h4>

       
          
        </th>
       
        <th>
          <h4> DERECHO</h4>
        </th>
      </tr>
      
      
      <tr>
        <td>CATEGORIA</td>
        <td>NOTAS</td>
        <td>AYUDA </td>
        
      </tr>
    </table>
  
     fin  esto esta agregado
    -->
    <div>
    
        <section class="titulo_menu">
          <h3>MENU</h3>
        </section>
    
        <section class="menuPrincipal">
            <ul>   
                <li><a href="#">Categorias</a></li>
                <!--
                <li><a href="/Crud1/index.html">N1 - Crud local JS c/Arrays</a></li>
                <li><a href="indexDark.html">N2 - Death Notes - graba</a></li>
                <li><a href="/Notas3/notas1.html">N3 - Notas html+js</a></li>
                -->
                <li><a href="index4.html">Block de Notas</a></li>
                <li><a href="#">Consultas</a></li>
                <li><a href="#">Links</a></li>
                <li><a href="#">Instrucciones</a></li>
                <li><a href="#">Preguntas</a></li>
            </ul>
        </section>
             
      </div>
  
  <footer class="footer">
    
<!-- esto es un comentario -->
    <div class="wrap-footer">
      <div class="text-element-footer element-footer">
        <div>
          <!--<img src="./image/logo4.jpg" alt="logo" />-->
          <div class="logo2">
            <img src="/NotasNew/public/image/blocknotas3.jpg" class="left" alt="logo" />
            <!-- <img src="./image/logo4.jpg" alt="logo" width="20" height="60">-->
          </div>
          <h3 class="main-c">MIS NOTAS</h3>
          
        </div> 
        <!--
            <h3 class="main-c">MIS NOTAS</h3>
            <p>NOTAS </p>
         -->   
      </div>
    
      <div class="text-element-footer element-footer">
        <h5>Direccion</h5>
        <ul>
          
          <li>Soler 4904</li>
          
          <li>CABA</li>
          <li>Mvl:(+54) 11-2525-4141</li>
          <li>Tel:(+54) 0800 123 456</li>
        </ul>
      </div>
      <div class="text-element-footer link-elements-footer element-footer">
    <h5>Más Información</h5>
    <ul>
    <li><a href="/index.html">Inicio</a></li>
    <li><a href="/preguntas.html">Preguntas</a></li>
    <li><a href="/email@autospot.com.ar">Enviar email</a></li>
    <li><a href="/consultas.html">Consultas</a></li>
    <li><a href="/contacto">Contactar</a></li>
    </ul>
    </div>
    <div class="rrss-element-footer element-footer">
    <h5>Redes Sociales</h5>
    <ul>
    <li>
    <a href="https://facebook.com" target="_blank" rel="nofollow noopener noreferer"><img src="./image/facebook.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.instagram.com/" target="_blank" rel="nofollow noopener noreferer"><img src="./image/instagram.JPG" alt="icono redes sociales"></a>
    </li>
    <li>
    <a href="https://www.google.com.ar/chrome/"target="_blank" rel="nofollow noopener noreferer"><img src="./image/google.JPG"alt="icono redes sociales"></a>
    </li>
    <li>
      <a href="https://web.whatsapp.com/"target="_blank" rel="nofollow noopener noreferer"><img src="./image/whastapp.JPG"alt="icono redes sociales"></a>
      </li>
    </ul>
    </div>
    </div>
    <div class="footer-creds">
        <div class="copy-creds">
            <p>©2023 · Todos los derechos reservados ACT.</p>
        </div>
        <div class="legal-creds">
          <ul>
            <li><a href="/politica-privacidad">Política de Privacidad</a></li>
            <li><a href="/politica-cookies">Política de Cookies</a></li>
           <li><a href="/aviso-legal">Aviso Legal</a></li>
        </ul>
      </div>
    </div>
    
  </footer>
</body>
</html>