* {
	margin: 0;
	padding: 0;
}

body {
	background: url(amd.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
	color: rgb(234, 222, 222);
	background-color: rgb(13, 13, 14);
}

.header {
	width: 96%;
	padding: 20px 0px 20px 0px;
	text-align: center;
	border: 1px solid white;
	border-radius: 10px;
	background: #eb0707;
	margin: 20px;
}

.agregar_tarea,
.tareas,
.tareas1 {
	margin: 20px;
}

.agregar_tarea input {
	width: 90%;
	height: auto;
	padding: 10px;
	font-size: 15px;
	/*
	background: transparent;
	*/
	color: rgb(14, 13, 13);
	border: 3px solid #ee480b;
	border-radius:1em;
}
/* agrego estilo para el form categoria, lista desplegable */
/*
.agregar_tarea :user-valid{
	width: 90%;
	height: auto;
	padding: 10px;
	font-size: 15px;
	
	color: rgb(14, 13, 13);
	border: 3px solid #ee480b;
	border-radius:1em;

}


form{
margin-top: 13px;
	padding-right: 30px;
	letter-spacing: 2px;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	font-style:oblique;
	border:1px;
	display:flexbox;
}
label {
	
	font-size: 30px;
	color: #d28f14;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
  }
*/
  /* fin de estilo para lista desplegable */

h2 {
	margin: 20px 0px 20px 0px;
	text-align: center;
	color: #d28f14;
}

.agregar_tarea button {
	width: 5%;
	height: 41px;
	vertical-align: top;
	border: 1px solid rgba(10, 10, 10, 0.3);
	background: rgb(72, 121, 185);
	transition: all 300ms ease;
}

.agregar_tarea button:hover {
	background: #d2cfcf;
	cursor: pointer;
}

/* Estilos de las tareas */

.tarea {
	padding: 20px;
	margin: 20px;
	border: 1px solid rgb(12, 104, 196);
}

.tarea div {
	display: inline-block;
	vertical-align: middle;
}

.tarea h4 {
	font-size: 15px;
	color: #ea630f;
}

.tarea p {
	margin-top: 13px;
	padding-right: 30px;
	letter-spacing: 2px;
	font-size:small;
	font-family:Arial, Helvetica, sans-serif;
	font-style:oblique;
	border:1px;
	display:flexbox;
}

.tarea button {
	float: right;
}

.uno {
	width: 93%;
	display:flex;
	background-color: black;
	;
}
 .categoria_uno {
	width: 90%;
	border:1px;
	background-color: black;
	
 }
 .tarea_uno{
	width: 98%;
	border:1px;
	background-color: black;
	position: left
	;
 }
/* Estilos de boton de la tarea */

.boton_tarea {
	width: 40px;
	height: 50px;
	background: lightblue;
	border-radius: 5px;
	border: 1px solid black;
}

.boton_tarea:hover {
	background: #ff7474;
	cursor: pointer;
}

/* Ultimos botones */

.botones {
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}

.botones button {
	width: 20%;
	height: 40px;
	margin: 10px;
	cursor: pointer;
	color: rgb(228, 236, 228);
	letter-spacing: 1px;
}

#uno1 {
	background: #ea3e3e;
	border: 2px solid red;
	
}

#dos {
	background: #3cb13c;
	border: 2px solid green;
}

#tres {
	background: #4343c1;
	border: 2px solid blue;
}
input[type=text], select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #d91a2a;
	border-radius: 4px;
	box-sizing: border-box;
	color: rgb(0, 1, 1);
  }
/* agrego estilo del Footer*/
footer{
	background-color: black;
	/* color: var(--second-c); */
  }
  footer ul{
	padding:0;
	/* agrego direccion*/
	color: #dee2e9;
  }
  footer li{
	list-style: none;
	/* Direccion y telefonos*/
	color: #f1f1ed;
  }
  .wrap-footer{
	display: grid;
	grid-template-columns: 30% 15% 15% 20%;
	column-gap: 5%;
  
	margin: 2rem auto;
	max-width: 1200px;
	/*web de autospot y titulos */
	color: aqua;
  }
  .logo-element_footer{
	display: flex;
	margin: 2rem 0;
  }
  .logo-element_footer img{
	max-height: 100px;
	width: 100px;
	
  }
  .element-footer h5{
	margin: 1rem 0;
  }
  .text-element-footer li{
	line-height: 2;
  }
  .link-elements-footer li a{
	color:#f0efeb;
  }
  .rrss-element-footer ul{
	display: flex;
	flex-flow: wrap;
  }
  .rrss-element-footer img{
	width: 35px;
  }
  .rrss-element-footer li{
	margin-right: 1rem;
	/* agrego*/
	color: #dee2e9;
  }

/* fin del estilo de footer */

@media screen and (max-width: 768px) {
	body {
		background: url(fondo.jpg);
		background-size: 100%;
		background-attachment: fixed;
		background-color: black;
	}

	.header {
		width: 89%;
	}

	.agregar_tarea input {
		width: 80%;
	}

	.agregar_tarea button {
		width: 9%;
		margin-left: 3%;
	}

	.uno {
		width: 79%;
	}
}
